extends layout

block content
  - if (message)
    p= message
  form(action='/signup', method='post')
    div
      label Username:
      input(type='text', name='login')
    div
      label Password:
      input(type='password', name='password')
    div
      label Confirm Password:
      input(type='password', name='confirm_password')
    div
      label Email:
      input(type='email', name='email')
    div
      input(type='submit', value='Submit')
